.App {
  text-align: center;
}

.post-card{
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  width: 600px;
  margin-left: 500px;
}

#title{
  background-color: azure;
}

#body{
  background-color:white;
}